
<div class="row">
  <div class="col-md-12">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Hi {{user.name}}</h4>
          <p class="card-text">{{user.username}}</p>
          <p class="card-text">{{user.email}}</p>
          <p class="card-text">{{user.address.city}}, {{user.address.street}}, {{user.address.suite}}, {{user.address.zipcode}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary">Go</button>
  </div>
</div>

